.navbar-collapse{margin-right:0}@media (max-width:767px){.navbar-toggle{float:right;margin-top:0;margin-right:10px;margin-bottom:0}.mobile{display:none}}@media (min-width:992px){#image_plus{margin-top:60px}}@media (max-width:360px){#image_plus{margin-top:0}}









#ttt-footer {
    font-size: 14px;
    line-height: 1.4;
}
.odd-dark {
    background: #455560;
    color: #f1f3f3;
}
.ttt-footer .ttt-bigfooter {
    border-bottom: 1px solid #616e78;
    border-image: linear-gradient(to left,rgba(97,110,120,0) 0,#616e78 20%,#616e78 80%,rgba(97,110,120,0) 100%) 1;
    border-image-repeat: stretch;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: #d0d4d7;
}
.ttt-footer .ttt-bigfooter .colgroup {
    background-color: #455560;
    color: #eceeef;
}
.ttt-social-media .h5 {
    vertical-align: super;
}
#social-media-icons {
    display: inline-block;
    padding: 20px;
}
#social-media-icons a {
    display: inline-block;
    margin-right: 15px;
    background-color: transparent;
}
#social-media-icons a i {
    font-size: 30px;
}
#social-media-icons a:hover i {
    color: #ffffff;
}
.h5 {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}
.ttt-footer .ttt-bigfooter .colgroup {
    background-color: #455560;
    color: #eceeef;
}
.margin-top-bot {
    margin-top: 20px;
    margin-bottom: 20px;
}
.noborder {
    border: none !important;
}
.simplelist {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}
#ttt-footer > ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.ttt-footer .ttt-bigfooter-nav .simplelist li {
    line-height: 1em;
    padding: 8px 0;
}
#ttt-footer > li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.ttt-footer .ttt-bigfooter a {
    font-size: 14px;
    color: #d0d4d7;
}
.ttt-footer .ttt-bigfooter a:hover {
    font-size: 14px;
    color: #d0d4d7;
    text-decoration:underline;
}
.odd-dark {
    background: #455560;
}
.odd-dark, .odd-dark.colgroup {
    color: #f1f3f3;
}
.ttt-footer {
    background: #455560;
    padding: 0;
    position: relative;
}
.ttt-footer nav {
    padding: 25px 0 25px 0px;
}
.ttt-footer nav .footer {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
    height: 25px;
}
.ttt-footer nav .footer li.first {
    padding-left: 0;
}
.ttt-footer nav .footer li.last {
    border: none;
    padding-right: 0;
}
.ttt-footer nav .footer li {
    padding: 0 10px;
    margin: 0;
    float: left;
    border-right: 1px solid #616e78;
}
.ttt-footer nav .footer li a {
    color: #d0d4d7;
}
.ttt-footer nav address {
    display: inline-block;
    margin: 10px 0;
    padding: 0;
}
@media (max-width: 768px){
    .ttt-footer {
        padding: 30px;
    }
}